#error {
    color: red;
    height: 50px;
}
.shrink {
    font-size: 0px;
    transition: 1s;
    transition-timing-function: linear;
}

.initialSize{
    font-size: 1rem;
    transition: 1s;
    transition-timing-function: linear;
}